body{
    background-color: #fcd530;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.main-card{
    background-color: white;
    width: 1000px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.header{
    background-color: #ce1920;
    height: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 430px;
    display: flex;
}

.image{
    width: 500px;
    border-bottom-left-radius: 5px;
}

.input{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
